@media (max-width: 575px) {

.bi-list.inactive {
    display: inline;
}
.bi-list {
    color: #f0128c;
    font-size: 2.25rem;
    margin-left: 340px;

}

.navbar-menu-desktop {
    display: none;
}

.navbar-mobile {
    top: 100px;
    color: #f0128c;
    left: 60%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 140px;  
    height: auto;
    padding: 16px;
    border-radius: 8px;
    height: auto;
    background: #ffff;
    z-index: 99999;
    margin-bottom: 16px;
}
.menumobile-list {
    cursor: pointer;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    text-align: center;
    padding: 0;
    margin-bottom: 8px;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
}

.menumobile-list a {
    padding: 8px;
    width: 120px;
    height: 20px;
}

.menumobile-list a:hover {
    color: var(--colordisable);
    background: var(--colorHover);
    width: 120px;
    height: 20px;
    text-align: center;
    border-radius: 6px;
}

.login-button-mobile {
    width: auto;
    background: #ff63c7;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.shoppingCart-Container.inactive {
    display: none;
}

.shoppingCart-Container {
    left: 220px;
    width: 50vw;
    height: 350px;

}
.shoppingCart-Container h1 {
    font-size: 1.25rem;
}

.shoppingCart-products-container {
    width: auto;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-evenly;
}
.img-shopping {
    width: 70px;
    border-radius: 8px;
    margin-right: 10px;
}
.input-radio {
    width: 15px;
    margin-right: 6px;
}
.product-title{
    font-size: 12px;
}
.input-number{
    width: 25px;
    border:  1px solid #00417a;
    font-size: 12px;
    padding: 10px;
    margin-left: 28px;
}

.total-container {
    width: auto;
    display: flex;
    position: absolute;
    top: 250px;
    padding: 40px;
    align-items: center;
}

.total-prices {
    margin-left: 120px;
}
.button-shop {
    width: 100px;
    height: 40px;
    padding: 8px;
    border-radius: 8px;
}

/*Login container */
.Login-container {
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-account.inactive,
.create-Account.inactive {
    display: none;
}

.sign-account{
    width: auto;
    top: 100px;
    left: 250px;
  
}
.create-Account {
    width: auto;
    top: 100px;
    left: 250px;
    z-index: 9999;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;

}
.sign-account p {
    font-size: 16px;
}
.sign-account h1 {
    margin: 0;
}
.sign-account a {
    text-decoration-line: underline;
    cursor: pointer;
    color: #006dcc;
}

.button-continue,
.button-create {
    height: 48px;
    width: 80%;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
}
.sign-account input,
.create-Account input {
    width: auto;
    background: #fef1f95e;

}
.banner-section {
    width: auto;
    height: 400px;
}

.textBanner-container {
    top: 45%;
    left: 56%;
    transform: translate(-50%, -50%);

    
}
.textBanner-container p{
    font-size: 20px;
}
.textBanner-container h1 {
    font-size: 40px;
}
.bannerImg-container {
    max-width: 100%;
    height: 400px;
}

.img-banner {
    width: 100vw;
    height: 400px;


}
.banner-color {   
    height: 400px;

}


.allproducts-section,
.allelectronicproducts-section{
      flex-wrap: wrap;
  
}


.electronicImg-container{
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #00417a;
    padding: 2rem ;
}
.electronicImg-container img {
    width: 50%;
    height:auto;
    object-fit: fill;
    z-index: 1;
    position: relative;
    left: 0px;


}
.electronicbanner-color{ 
    width: auto;
    height: 250px;
    z-index: 2;
    position: absolute;
    background: #0f0007;

}

.electronic-textBanner-container p {
    font-size: 20px;

}
.electronic-textBanner-container h1 {
    font-size: 32px;
}

.women-section,
.men-section,
.electronic-section,
.accesories-section {
    width: auto;
    padding: 3rem;
    margin-top: 100px;  


}

.women-products-container,
.electronic-products-container,
.accesories-products-container,
.men-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;

}

.modal-product-Detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 5;
    background: #0f00079e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-product-Detail  {
    display: none;
}
.product-detail{
    background: #fee5f6;
    width: 50vw;
    height: 400px;
    padding: 40px;
    border-radius: 12px;
}
.bi-x-circle-fill {
        width: auto;
        color: #00417a;
        padding: 16px;
        font-size: 40px;
        border-radius: 50px;
        position: absolute;
        top: 230px;
        left: 73%;
        cursor: pointer;
    
}
.bi-x-circle-fill:hover {
    color: #f0128c;
}
.subscribe-section{
    padding:  40px;
    width: auto;
 
}

}