
:root {
    --colorprimary500: #ff42b3;
    --colorsecondary: #006dcc;
    --colorsecondary-950: #07274A;
    --colorsecondary-400: #7CC3FD;
    --colorsecondary-50: #F0F7FF;
    --colorBody950: #58002b;
    --colortext800: #ad075b;
    --colorwhite100: #fef1f9;
    --colorHover: #f0128c;
    --colordisable: #fee5f6;
    --colordisabletext:#FF9FDF;
    --colorblack:#0f0007;
    --font-base: 16px;
    
}

html {
    font-size: var(--font-base);
}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00417a ;
    margin: 0;
}
.hide {
    display: none;
}

.navbar{
    max-width: 900px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12.5rem;
    color: #00417a;
    font-size: 1.12rem;
    border-bottom: 2px solid var(--colorHover);
 
}
.navbar-mobile.inactive,
 .bi-list.inactive,
 .menumobile-list,
 .bi-person-fill-mobile.inactive {
    display: none;
}
.navbar-menu-desktop a,
.navbar-mobile a {
    list-style: none;
    text-decoration: none;
}
.menudesktop-list  {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menudesktop-list li {
    cursor: pointer;
    font-weight: 700;
}
.menudesktop-list a:hover {
    color: var(--colordisable);
    background: var(--colorHover);
    padding: 6px;
    text-align: center;
    border-radius: 6px;
}
.bi-bag-heart-fill {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.navbar-menu-desktop {
    width: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    align-items: center;
    margin-left: 15vw;

}
.line {
    border-right: 1px solid #00417a;
    background-color: #00417a;
    border-radius: 16px;
    padding: 0;
    margin: 0;
    height: 40px;

}

.navbar-user-desktop{
    display: flex; 
    gap: 20px;
    list-style: none;
}

.bi-bag-fill{
    
    font-size: 24px;
    cursor: pointer;
    order: 1;
    margin-left: 20px;

}
.bi-person-fill {
    font-size: 24px;
    cursor: pointer;

}
.bi-person-fill {
    margin-right: 6px;
}
#profile-icon {
    color: #00417a;
    font-size: 28px;
    cursor: pointer;
}
.login-button {
    width: 100px;
    background: #ff63c7;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.bi-bag-fill:hover,
#profile-icon:hover  {
    color: #f0128c;
}

.login-button:hover,
button:hover {
    background: var(--colorHover);
    color: #fee5f6;
}

.login-button:active,
button:active {
    background: #d1056f;
    color: #fee5f6;
}

.shoppingCart-Container.inactive {
    display: none;
}

.shoppingCart-Container {
    position: absolute;
    margin: 0;
    padding: 20px;
    top: 100px;
    left: 850px;
    width: 30vw;
    height: 400px;
    background: #ffff;
    z-index: 99999;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #00417a46;
}
.shoppingCart-Container h1 {
    text-align: center;
}

.shoppingCart-products-container {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-evenly;
}
.img-shopping {
    width: 90px;
    border-radius: 8px;
    margin-right: 18px;
}
.input-radio {
    width: 15px;
    margin-right: 10px;
}
.product-title{
    font-size: 14px;
}
.input-number{
    width: 25px;
    border:  1px solid #00417a;
    font-size: 14px;
    padding: 10px;
    margin-left: 28px;
}

.total-container {
    width: 100%;
    display: flex;
    position: absolute;
    top: 350px;
    padding: 10px 20px;
    align-items: center;
}

.total-prices {
    margin-left: 180px;
}
.button-shop {
    width: 100px;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
}

.Login-container {
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-account.inactive,
.create-Account.inactive {
    display: none;
}
.sign-account{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    border-radius: 12px;
    background: #ffff;
    position: absolute;
    box-shadow: 1px 1px 1px 1px #00417a46;
    top: 100px;
    left: 900px;
    z-index: 9999;
}
.create-Account {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    border-radius: 12px;
    background: #ffff;
    position: absolute;
    top: 100px;
    left: 900px;
    z-index: 9999;
    box-shadow: 1px 1px 1px 1px #00417a46;
}

form {
    display: flex;
    flex-direction: column;
}
.sign-account p {
    font-size: 16px;
}
.sign-account h1 {
    margin: 0;
}
.sign-account a {
    text-decoration-line: underline;
    cursor: pointer;
    color: #006dcc;
}

.button-continue,
.button-create {
    height: 48px;
    width: auto;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
}
.sign-account input,
.create-Account input {
    width: auto;
    background: #fef1f95e;
    margin: 8px;
    font-size: 16px;
    border: 1px solid #006dcc3a;
}

.img-banner-mobile.inactive {
    display: none;
}
.error {
    color: red;
    font-size: 0.6rem;
    padding-left: 16px;
    margin-bottom: 16px;
}
.banner-section {
    width: auto;
    height: 350px;
    display: flex;

}

.img-banner {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.products-section,
.products-electronics-section {
    max-width: 900px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    padding: 4rem 12.5rem;
    font-size: 24px;
}

.allproducts-section,
.allelectronicproducts-section{
    max-width: 900px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 20px 40px;
    gap: 30px;
}
.product-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-shadow: 2px 2px 2px 2px #012e5533; 
    cursor: pointer;
    border-radius: 8px;
    background: #ffff;

}

.product-card img {
    width: 40%;
    height: 50%;
    object-fit: fill;
    align-self:  center;
}

.product-category {
    font-size: 14px;
    color: #00417a;
    padding-top: 8px;
    margin: 0;
    text-align: left;
    margin-left: 24px;
}

.product-name {
    font-size: 18px;
    margin-top:8px;
    width: 250px;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 24px;
}
.product-prices {
    font-size: 18px;
    font-weight: bold;
    color: var(--colorHover);
    text-align: left;
    margin-left: 24px;
}

.bi-bag-plus {
    margin-left: 140px;

    color: #012e55;
    padding: 8px 10px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    border-radius: 50%;
} 
.bi-bag-plus:hover {
    color: #f0128c;
}
.electronic-banner-section{
    width: auto;
 
}
.electronic-banner-section img {
    width: 100%;
    object-fit: cover;
    height: 350px;
}
.title-section {
    position: absolute;
    top: 180px;
    font-size: 2rem;
}

.women-section,
.men-section,
.electronic-section,
.accesories-section {
    width: auto;
    padding-bottom: 4rem;
}

.women-section img,
.electronic-section img,
.accesories-section img {
    height: 400px;
    object-fit: cover;
}
.women-products-container,
.electronic-products-container,
.accesories-products-container,
.men-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-top: 100px;
    padding-left: 3rem;
    padding-right: 3rem;
}
.modal-product-Detail.hide{
    display: none;
}

.modal-product-Detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 5;
    background: #0f00079e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-detail{
    background: #fee5f6;
    width: 50vw;
    height: 400px;
    padding: 40px;
    border-radius: 12px;
}
.bi-x-circle-fill {
        width: auto;
        color: var(--colorsecondary-950);
        padding: 16px;
        font-size: 40px;
        border-radius: 50px;
        position: absolute;
        top: 230px;
        left: 73%;
        cursor: pointer;
    
}
.bi-x-circle-fill:hover {
    color: #f0128c;
}
.subscribe-section{
    width: 100vw;
    height: auto;
    background: var(--colorsecondary);
    color: var(--colordisable);
    padding:  40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.profile-section {
    max-width: 900px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.profile-container,
.purchases-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:  var(--colorsecondary-950);;
    background: #fef1f9b7;


}
.profile-container h1,
.purchases-container p {
    text-align: left;
    font-size: 24px;
    padding: 16px;
    background: var(--colorsecondary-950);
    color: var(--colorsecondary-50);
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}
.profile-information {
    padding: 20px;
    color: var(--colorsecondary-950);
    background: #012e5518;
    width: auto;
    margin-bottom: 20px;
    text-align: center;

}
.bi-person-circle {
    font-size: 60px;
}
.greet {
    font-size: 20px;
    font-weight: 600;
    padding-top: 8px;
    margin: 0;
    text-align: center;
}
.email-profile {
    font-size: 16px;
    padding-bottom: 16px;

}

input {
    border-radius: 10px;
    border: none;
    height: auto;
    width: 300px;
    padding: 16px;
   
}


button {
    background: #ff63c7;
    border-radius: 16px;
    border: none;
    padding: 16px;
    width: 180px;
    font-size: 16px;
    color: var(--colordisable);
    cursor: pointer;
}
footer {
    background: #006dcc10;
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorBody950);
    text-align: center;
    padding: 20px 80px;
}
