
:root {
    --colorprimary500: #ff42b3;
    --colorsecondary: #006dcc;
    --colorBody950: #58002b;
    --colortext800: #ad075b;
    --colorwhite100: #fef1f9;
    --colorHover: #f0128c;
    --colordisable: #fee5f6;
    --colordisabletext:#ff63c7;
    --colorblack:#0f0007;
    --font-base: 16px;
    
}

html {
    font-size: var(--font-base);
}

body {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #00417a ;
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}
.hide {
    display: none;
}
.navbar{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12.5rem;
    color: #00417a;
    font-size: 1rem;
    border-bottom: 4px solid var(--colorHover);
    margin: auto;
    
}
.navbar-mobile.inactive,
 .bi-list.inactive,
 .menumobile-list,
 .bi-person-fill-mobile.inactive {
    display: none;
}
.navbar-menu-desktop a,
.navbar-mobile a {
    list-style: none;
    text-decoration: none;
}
.menudesktop-list  {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.menudesktop-list li {
    cursor: pointer;
    font-weight: 700;
}
.menudesktop-list a:hover {
    color: var(--colordisable);
    background: var(--colorHover);
    padding: 6px;
    text-align: center;
    border-radius: 6px;
}
.bi-bag-heart-fill {
    font-size: 60px;
    margin: 0;
    padding: 0;
}

.navbar-menu-desktop {

    width: auto;
    display: flex;
    justify-content: center;
   gap: 30px;
   list-style: none;
   align-items: center;
    margin-left: 15vw;

}
.line {
    border-right: 1px solid #00417a;
    background-color: #00417a;
    border-radius: 16px;
    padding: 0;
    margin: 0;
    height: 40px;

}

.navbar-user-desktop{
    display: flex; 
    gap: 20px;
    list-style: none;
}

.bi-bag-fill{
    
    font-size: 24px;
    cursor: pointer;
    order: 1;
    margin-left: 20px;

}
.bi-person-fill {
    font-size: 24px;
    cursor: pointer;

}
.bi-person-fill {
    margin-right: 6px;
}

.login-button {
    width: 100px;
    background: #ff63c7;
    padding: 10px;
    font-size: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.bi-bag-fill:hover {
    color: #f0128c;
}

.login-button:hover,
button:hover {
    background: var(--colorHover);
    color: #fee5f6;
}

.login-button:active,
button:active {
    background: #d1056f;
    color: #fee5f6;
}

.shoppingCart-Container.inactive {
    display: none;
}

.shoppingCart-Container {
    position: absolute;
    margin: 0;
    padding: 20px;
    top: 100px;
    left: 850px;
    width: 30vw;
    height: 400px;
    background: #ffff;
    z-index: 99999;
    border-radius: 12px;
}
.shoppingCart-Container h1 {
    text-align: center;
}

.shoppingCart-products-container {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-evenly;
}
.img-shopping {
    width: 90px;
    border-radius: 8px;
    margin-right: 18px;
}
.input-radio {
    width: 15px;
    margin-right: 10px;
}
.product-title{
    font-size: 14px;
}
.input-number{
    width: 25px;
    border:  1px solid #00417a;
    font-size: 14px;
    padding: 10px;
    margin-left: 28px;
}

.total-container {
    width: 100%;
    display: flex;
    position: absolute;
    top: 350px;
    padding: 10px 20px;
    align-items: center;
}

.total-prices {
    margin-left: 180px;
}
.button-shop {
    width: 100px;
    height: 40px;
    padding: 6px;
    border-radius: 8px;
}

/*Login container */
.Login-container {
  
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.sign-account.inactive,
.create-Account.inactive {
    display: none;
}

.sign-account{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    border-radius: 12px;
    background: #ffff;
    position: absolute;
   
    top: 100px;
    left: 900px;
    z-index: 9999;
}
.create-Account {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; 
    border-radius: 12px;
    background: #ffff;
    position: absolute;
    top: 100px;
    left: 900px;
    z-index: 9999;
}

form {

    display: flex;
    flex-direction: column;
}
.sign-account p {
    font-size: 16px;
}
.sign-account h1 {
    margin: 0;
}
.sign-account a {
    text-decoration-line: underline;
    cursor: pointer;
    color: #006dcc;
}

.button-continue,
.button-create {
    height: 48px;
    width: auto;
    padding: 16px;
    text-align: center;
    font-size: 16px;
    margin-top: 16px;
}
.sign-account input,
.create-Account input {
    width: auto;
    background: #fef1f95e;
    margin: 8px;
    font-size: 16px;
    border: 1px solid #006dcc3a;
}

/*main*/

.banner-section {
    background: #fee5f6;
    width: auto;
    height: 500px;
    display: flex;

}

.img-banner {
    width: 100%;
    height: 500px;
    object-fit: cover;
    z-index: 1;
    position: relative;
    

}
.banner-color {
    background: #02075396;
    width: 100vw;
    height: 500px;
    z-index: 2;
    position: absolute;
    position: absolute;
   

}
.textBanner-container {
    color: var(--colorwhite100);
    z-index: 3;
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px;
}

.textBanner-container p{
    font-size: 2rem;
    margin: 0;
    padding: 5px 0;text-shadow: 1px 1px 1px #4d0025;
}
.textBanner-container h1 {
    font-size: 50px;
    margin: 0;
    color: var(--colorprimary500);
    text-shadow: 2px 2px 2px #4d0025;
}
.products-section,
.products-electronics-section {
    width: auto ;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 12.5rem;
    font-size: 24px;
}

.allproducts-section,
.allelectronicproducts-section{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    padding: 20px 80px;
    gap: 30px;
}
.product-card {
    width: 300px;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    box-shadow: 2px 2px 2px 4px #f0128c21;
    cursor: pointer;
    border-radius: 8px;

}

.product-card img {
    width: 40%;
    height: 50%;
    object-fit: fill;
    align-self:  center;
}

.product-category {
    font-size: 14px;
    color: #00417a;
    padding-top: 8px;
    margin: 0;
    text-align: left;
    margin-left: 24px;
}

.product-name {
    font-size: 18px;
    margin-top:8px;
    width: 250px;
    padding: 0;
    margin: 0;
    text-align: left;
    margin-left: 24px;
}
.product-prices {
    font-size: 18px;
    font-weight: bold;
    color: var(--colorHover);
    text-align: left;
    margin-left: 24px;
}

.bi-bag-plus {
    margin-left: 140px;

    color: #012e55;
    padding: 8px 10px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    border-radius: 50%;
} 
.bi-bag-plus:hover {
    color: #f0128c;
}
.electronicImg-container{
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    background-color: #00417a;
    padding: 2rem 12.5rem;
}
.electronicImg-container img {
    width: 100vw;
    height: 350px;
    object-fit: cover;
    z-index: 1;
    position: relative;
    left: 0px;


}
.electronicbanner-color{ 
    width: auto;
    height: 350px;
    z-index: 2;
    position: absolute;
    background: #0f0007;

}
.electronic-textBanner-container  {
    color: var(--colordisable);
    z-index: 3;
    padding: 10px;
    width: 50vw;

   
}
.electronic-textBanner-container p {
    font-size: 24px;
    padding-left: 14px ;

}
.electronic-textBanner-container h1 {
    font-size: 45px;
    margin: 0;
    color: var(--colordisable);
    padding-left: 14px ;
    text-shadow: 2px 2px 2px #4d0025;

}

.title-section {
    position: absolute;
    top: 180px;
    font-size: 2rem;
}

.women-section,
.men-section,
.electronic-section,
.accesories-section {
    width: auto;
    padding: 3rem;
    margin-top: 100px;   
}

.women-products-container,
.electronic-products-container,
.accesories-products-container,
.men-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 40px;
}
.modal-product-Detail {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    margin: 0;
    z-index: 5;
    background: #0f00079e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-product-Detail  {
    display: none;
}
.product-detail{
    background: #fee5f6;
    width: 50vw;
    height: 400px;
    padding: 40px;
    border-radius: 12px;
}
.bi-x-circle-fill {
        width: auto;
        color: #00417a;
        padding: 16px;
        font-size: 40px;
        border-radius: 50px;
        position: absolute;
        top: 230px;
        left: 73%;
        cursor: pointer;
    
}
.bi-x-circle-fill:hover {
    color: #f0128c;
}
.subscribe-section{
    width: 100vw;
    height: auto;
    background: #00417a;
    color: var(--colordisable);
    padding:  40px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

input {
    border-radius: 10px;
    border: none;
    height: auto;
    width: 300px;
    padding: 16px;
   
}


button {
    background: #ff63c7;
    border-radius: 16px;
    border: none;
    padding: 16px;
    width: 180px;
    font-size: 16px;
    color: var(--colordisable);
    cursor: pointer;
}
footer {
    background: #006dcc10;
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorBody950);
    text-align: center;
    padding: 20px 80px;
}
